<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-in</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <%- include('partials/header')%>
  <section>
    <div class="container">
      <div class="content">
        <div class="head">
          <h2>Sign up</h2>
          <p>Sign up to enjoy the feature of Getty.</p>
        </div>
        <form>
          <!-- <label for="name">Name</label>
          <input type="text" name="name" required>
          <label for="date">Date of Birth</label>
          <input type="date" name="date"> -->
          <label for="email"> Email</label>
          <input type="email" name="email" required>
          <div id="email-error"></div>
          <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <img src="../public/assets/visibility.png" id="btn">
          </div>
          <div id="password-error"></div>
          <button type="submit" id="submit">Sign up</button>
        </form>
      </div>
    </div>

    <div class="container left"></div>
  </section>

  <script>
    const form = document.querySelector('form');
    let emailError = document.getElementById('email-error');
    let passwordError = document.getElementById('password-error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const email = form.email.value;
      const password = form.password.value;
      
      try {
        const res = await fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();

        if (data.errors) {
          emailError.innerText = data.errors.email;
          passwordError.innerText = data.errors.password;
        }

        if (data.result) {
          // location.href = '/';
          location.assign('/');
        }

      } catch (error) {
        console.log(error);
      }
    })

    // to view password
    let icon = document.getElementById('btn');
    let input = document.getElementById('password');

    icon.addEventListener('click', () => {
      if (input.type === 'password') {
        input.type = 'text'
      }
    })
  </script>
</body>
</html>